<div class="row">
  <h2>Hello World!</h2>

  <div class="span12" style="max-height: 250px">
    <p>This is the website of fanxiaopeng!<br>
      It shows his life, work, tourist and research.<br>
      Click each circle for detail.</p><p><%= I18n.t "hello" %></p></div>
</div>