<div class="total_count"><span><%= total_count %></span></div>
<div class="rectangle">
  <div class="circle">
    <div class="title"><%= item_name %></div>
    <div class="title_posts"><%= total_unit %></div>
  </div>
</div>