
<!-- Content -->
<div class="container">
  <div class="row">
    <div class="span12 social">
      <a href="" class="github" rel="tooltip" data-placement="top" data-original-title="<%= I18n.t "github" %>"></a>
      <a href="" class="cnblogs" rel="tooltip" data-placement="top" data-original-title="<%= I18n.t "cnblogs" %>"></a>
      <a href="" class="email" rel="tooltip" data-placement="top" data-original-title="<%= I18n.t "email" %>"></a>
      <a href="" class="resume" rel="tooltip" data-placement="top" data-original-title="<%= I18n.t "resume" %>"></a>
    </div>
  </div>
</div>
