
<!-- Content -->
<div class="container">
  <div class="row">
    <div class="span12 social">
      <%= generate_tooltip_link("http://www.github.com/1018512841/",I18n.t("github"), "github") %>
      <%= generate_tooltip_link("http://www.cnblogs.com/fanxiaopeng/",I18n.t("cnblogs"), "cnblogs") %>
      <%= generate_tooltip_link("mailto:fanxiaopeng515@163.com",I18n.t("email"), "email") %>
      <%= generate_tooltip_link("http://besfan.github.io/",I18n.t("resume"), "resume") %>
    </div>
  </div>
</div>
