
<!-- Content -->
<div class="container">
  <div class="row">
    <div class="span12 social">
      <a href="" class="github" rel="tooltip" data-placement="top" data-original-title="github"></a>
      <a href="" class="cnblogs" rel="tooltip" data-placement="top" data-original-title="cnblogs"></a>
      <a href="" class="email" rel="tooltip" data-placement="top" data-original-title="email"></a>
      <a href="" class="resume" rel="tooltip" data-placement="top" data-original-title="resume"></a>
    </div>
  </div>
</div>
