<div class="container">
  <div class="header row">
    <div class="logo span4">
      <h1><a href="">Fans Home</a><span>.</span></h1>
    </div>
    <div class="call-us span8">
      <%= render 'static_page/navigation' %>
    </div>
  </div>
</div>