<div class="container">
  <div class="header row">
    <div class="logo span4">
      <h1 class="header-logo"><a href="/"><%= I18n.t "logo" %></a><span>.</span></h1>
    </div>
    <div class="call-us span8">
      <%= render 'static_page/navigation' %>
    </div>
  </div>
</div>