<div class="row">
  <span>点击红点查看详情</span>
  <button type="button" class="close close_detail_btn" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
  <div class="fans-map-wrapper">
    <div id="fans-map"></div>
  </div>
</div>
<div class="jvectormap-label"></div>

<script>
    $(document).ready(function () {
        fans_home.tourist_post.init_fans_tourist_detail_screen();
    })
</script>
