<div class="row">
  <button id="close_detail_btn" class="close" data-toggle="tooltip" title="Close">
    <i class="icon-remove"></i></button>
  <button id="show_detail_btn" class="close" data-toggle="tooltip" title="Show List">
    <i class="icon-eject"></i></button>

  <h4 class="alert-heading">Oh snap! You got an error!</h4>

  <div class="span12">
    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span1" style="height: 250px">
          <a id="left_arrow_button" class="arrow_button">pre</a>
        </div>
        <div class="span10" style="height: 250px;border: 1px solid;padding: 10px;text-align: left;overflow: hidden">
          <span>123456789ss</span>
        </div>
        <div class="span1" style="height: 250px">
          <a id="right_arrow_button" class="arrow_button">next</a>
        </div>
      </div>
    </div>
  </div>
</div>

