<div class="row">
  <button class="close_detail_btn close" data-toggle="tooltip" title="<%= I18n.t "btn_close_tooltip" %>">
    <i class="icon-remove"></i></button>
  <a href="<%= life_posts_path %>" class="show_detail_btn close" data-toggle="tooltip" title="<%= I18n.t "btn_show_tooltip" %>">
    <i class="icon-eject"></i></a>

  <h4 class="alert-heading">Life is like a piece of cake</h4>

  <div class="span12">
    <div class="container-fluid">
      <div class="row-fluid">
        <%= render "life_posts/life_dashboard" %>

      </div>
    </div>
  </div>
</div>

