<div class="row">
  <span>施工中。。。 </span>
  <button class="close_detail_btn close" data-toggle="tooltip" title="<%= I18n.t "btn_close_tooltip" %>">
    <i class="icon-remove"></i></button>
  <button class="show_detail_btn close" data-toggle="tooltip" title="<%= I18n.t "btn_show_tooltip" %>">
    <i class="icon-eject"></i></button>
  <div style="height: 270px"></div>
</div>