<div class="row">
  <span>click red dot for detail </span>
  <button class="close_detail_btn close" data-toggle="tooltip" title="<%= I18n.t "btn_close_tooltip" %>">
    <i class="icon-remove icon-white"></i></button>
  <button class="show_detail_btn close" data-toggle="tooltip" title="<%= I18n.t "btn_show_tooltip" %>">
    <i class="icon-eject icon-white"></i></button>
  <div class="fans-map-wrapper">
    <div id="fans-map"></div>
  </div>
</div>
<div class="jvectormap-label"></div>

<script>
    $(document).ready(function () {
        fans_home.tourist_post.init_fans_tourist_detail_screen();
    })
</script>
