<div id="navbar_area" class="navbar navbar-static">
  <div class="container">
    <ul class="nav pull-right" role="navigation">
      <li class="dropdown">
        <a id="drop1" href="#" role="button" class="dropdown-toggle" data-toggle="dropdown">Navigation
          <b class="caret"></b></a>
        <ul class="dropdown-menu" role="menu" aria-labelledby="drop1">
          <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Life</a></li>
          <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Work</a>
          </li>
          <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Tourist</a></li>
          <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Research</a></li>
        </ul>
      </li>
      <li class="dropdown">
        <a href="#" id="drop2" role="button" class="dropdown-toggle" data-toggle="dropdown">User
          <b class="caret"></b></a>
        <ul class="dropdown-menu" role="menu" aria-labelledby="drop2">
          <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Setting</a></li>
          <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Sign out</a></li>
        </ul>
      </li>
    </ul>
  </div>
</div>