<div class="article">
  <div class="pic">
    <%= link_to image_tag(right_blog.avatar), blog_path(right_blog), class:'w_hover' if right_blog.avatar %>
  </div>

  <div class="text">
    <p class="title">
      <%= link_to right_blog.title, blog_path(right_blog) %>
    </p>

    <div class="date"><p><%= time_format(right_blog.created_at) %></p></div>
    <div class="icons">
      <ul>
        <li><a href="#" class="views">41</a></li>
        <li><a href="#" class="comments">22</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="line_3"></div>