<div class="container">

  <div class="hero-unit" id="user_new_container">
    <% if flash[:error] %>
        <div class="alert">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          <strong>Warning!</strong> <%= flash[:error] %>
        </div>
    <% end %>
    <div class="page-header">
      <h2>创建新博客</h2>
    </div>
    <%= render 'form' %>
  </div>
</div>
