<div class="container jumbotron">
  <div class="hero-unit" id="tourist_detail_container">
    <p id="notice"><%= notice %></p>

    <div class="row">
      <h2 class="text-center span8 offset1"><%= I18n.t "tourist_post.tourist_new" %></h2>
    </div>
    <%= render 'form' %>
    <div class="text-center">
      <%= link_to I18n.t("back_btn"), tourist_posts_path, {class: "btn btn-default"} %>
    </div>
  </div>
</div>

