<div class="container">
  <div class="hero-unit">
    <div class="alert">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <strong>Warning!</strong>  <%= I18n.t "permission_required" %>
    </div>
  </div>
</div>