<div class="bs-docs-life">
  <div id="loading"></div>
  <div id="myCarousel" class="carousel slide">
    <div class="life_detail_btn"><span type="button" class="btn">详细列表</span></div>
    <div class="carousel-indicators">
      <span type="button" class="btn disabled">
        <span class="current-number">1</span> /
        <span class="total-number"><%= LifePost.count %></span></span>
    </div>
    <div class="carousel-inner">

    </div>
    <a class="left carousel-control" data-toggle="tooltip" title="第一页">‹</a>
    <a class="right carousel-control" data-toggle="tooltip" title="最后一页">›</a>
  </div>
</div>


<script type="text/javascript">
    $(document).ready(function () {
//        fans_home.life_post.life_picture_item_screen();
    });
</script>
