<div class="container">
  <div class="hero-unit" id="life_detail_container">
    <p id="notice"><%= notice %></p>
    <div class="row">
      <h2 class="text-center span8 offset1"><%= I18n.t "life_post.life_new" %></h2>
    </div>
    <%= render 'form' %>
    <div class="span2 offset2">
      <%= link_to "返回", life_posts_path, {class: "btn btn-default"} %>
    </div>
  </div>
</div>
