//= require markdown
//= require bootstrap-markdown.js
//= require bootstrap-markdown.zh
//= require qiniu_control
//= require uploader

fans_home.blog = function () {
    return {
        initForm: function () {
            $('#blog_tags').select2();
            qiniu.initUploadImage('add_cover', $('#blog_avatar'), $('#preview-avatar'));
            fans_home.blog.initMarkdown();
        },
        initMarkdown: function () {
            var itemObj = fans_home.common.uploadFile.initUploadObj({}, {
                'BeforeUpload': function (up, file) {
                    //loading = fw.common.dialog.startLoading('上传中，请稍后');
                },
                'FileUploaded': function (up, file, info) {
                    var e = $('#blog_body').data('markdown');
                    var info = $.parseJSON(info);
                    var chunk, cursor, selected = e.getSelection(), content = e.getContent(), link;

                    if (selected.length === 0) {
                        chunk = e.__localize('enter image description here');
                    } else {
                        chunk = selected.text;
                    }

                    link = "<%= QiniuDomain %>" + info.image_path;

                    if (link !== null && link !== '' && link !== 'http://' && link.substr(0, 4) === 'http') {
                        var sanitizedLink = $('<div>' + link + '</div>').text();
                        e.replaceSelection('![' + chunk + '](' + sanitizedLink + ' "' + e.__localize('enter image title here') + '")');
                        cursor = selected.start + 2;
                        e.setNextTab(e.__localize('enter image title here'));
                        e.setSelection(cursor, cursor + chunk.length);
                    }
                    $('[title=qiniu-upload-img]').removeClass('active');
                }
            });


            $("#blog_body").markdown({
                language: 'zh',
                additionalButtons: [
                    [{
                        name: "upload-img",
                        data: [{
                            name: "upload-1",
                            toggle: true, // this param only take effect if you load bootstrap.js
                            title: "qiniu-upload-img",
                            autofocus: false,
                            icon: "glyphicon glyphicon-upload",
                            callback: function (e) {
                                itemObj.startUpload($('.glyphicon.glyphicon-upload')[0]);
                            }
                        }]
                    }]
                ]
            })
        }
    }
}()
